<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="uk-container">
      <h1 class="uk-heading-line"><span><%= title %></span></h1>
      <div uk-alert>Welcome to <%= title %></div>
    </div>
  </body>
</html>
